@model Bookshop.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<h4>Książki</h4>
<hr />

<div>
    <dl class="dl-horizontal">
        
        <dd><img src="@Url.Content(Model.ImagePath)" alt="" height="400" width="350" /></dd> 
        
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
            @Html.DisplayFor(model => model.Author.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
@if (HttpContext.Current.User.IsInRole("Admin"))
{
    @Html.ActionLink("Edytuj ", "Edit", new { id = Model.Id })
    @Html.ActionLink("Usuń", "Delete", new { id = Model.Id })
}
    
    @Html.ActionLink("Przejdz do listy książek", "Index")
</p>
