@model IEnumerable<Bookshop.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Lista książek</h2>

<p>
    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Dodaj książkę", "Create")
    }

    @using (Html.BeginForm("Index", "Book", FormMethod.Get))
    {
        @Html.TextBox("filter", "", new { @class = "form-control", placeholder = "Wpisz czego szukasz" }) <br />
        <input type="submit" value="Szukaj" class="btn btn-default" />
    }
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.ImagePath)" alt="" height="300" width="275" />
            </td>
            <td>
                <p><b>@Html.DisplayNameFor(model => model.Title)</b> @Html.DisplayFor(modelItem => item.Title)</p>
                
                <p><b>@Html.DisplayNameFor(model => model.Author)</b> @Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)</p>
                
                <p><b>@Html.DisplayNameFor(model => model.PublicationDate)</b> @Html.DisplayFor(modelItem => item.PublicationDate)</p>
                
                <p><b>@Html.DisplayNameFor(model => model.ISBN)</b> @Html.DisplayFor(modelItem => item.ISBN)</p>
                
                <p><b>@Html.DisplayNameFor(model => model.Description)</b> @Html.DisplayFor(modelItem => item.Description)</p>
            
                <br /> 
            
                @Html.ActionLink("Szczegóły", "Details", new {id = item.Id})
            
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                
                    @Html.ActionLink("Edytuj ", "Edit", new {id = item.Id})
                
                
                    @Html.ActionLink("Usuń", "Delete", new {id = item.Id})
                
            }
            </td>
        </tr>
    }

</table>
