@model Bookshop.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<h4>Autor</h4>
<hr />

<div>
    <dl class="dl-horizontal">

        <dd><img src="@Url.Content(Model.ImagePath)" alt="" height="400" width="350" /></dd>

        <dd>
            <h3>
                @Html.DisplayFor(model => model.Name)
                @Html.DisplayFor(model => model.Surname)
            </h3>
        </dd>

        <dd>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </dd>

        @if (Model.Book.Count != 0)
        {
            <dd>
                <h4>Książki:</h4>
            </dd>
            <dd>
                @foreach (var item in Model.Book)
                {
                    @Html.DisplayFor(modelItem => item.Title) <br />
                }
            </dd>
        }

    </dl>
</div>
<p>
    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.AuthorId })
    }

    @Html.ActionLink("Przejdz do listy autorów", "Index")
</p>
