@model IEnumerable<Bookshop.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Lista autorów</h2>

<p>
    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Dodaj autora", "Create")
    }


    @using (Html.BeginForm("Index", "Author", FormMethod.Get))
    {
        @Html.TextBox("filter", "", new { @class = "form-control", placeholder = "Wpisz kogo szukasz" }) <br />
        <input type="submit" value="Szukaj" class="btn btn-default" />
    }
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.ImagePath)" alt="" height="300" width="275" />
            </td>
            <td>
                <h3>
                    @Html.DisplayFor(modelItem => item.Name)
                    @Html.DisplayFor(modelItem => item.Surname)
                </h3><hr />

                @Html.DisplayFor(modelItem => item.Description)

                <br /> <br />

                @Html.ActionLink("Szczegóły", "Details", new { id = item.AuthorId })

                @if (HttpContext.Current.User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Edytuj ", "Edit", new { id = item.AuthorId })

                    @Html.ActionLink("Usuń", "Delete", new { id = item.AuthorId })

                }
            </td>
        </tr>
    }

</table>
